.hide_me {
    display: none;
}

.movie-items .movie-item {
    margin-right: 0;
}

.sliderv2 {
    padding-bottom: 50px;
}

.movie-items .slide-it {
    margin-bottom: 30px;
}

.movie-item-style-1 {
    width: auto;
}

.mv-single-hero {
    background-size: cover;
}

.mvcast-item .cast-it .cast-left img {
    max-width: 50px;
}

.movie-item-style-2 .mv-item-infor h6 a {
    white-space: nowrap;
}

.video-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 ratio */
    margin-bottom: 10px;
}

.video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.youtube_outlink {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.youtube_outlink:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie-single .movie-single-ct .mvsingle-item img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.loadmore_box {
    text-align: center;
    margin-top: 10px;
}
.tab-content .redbtn {
    border: 0;
}