.hide_me {
    display: none;
}

.movie-items .movie-item {
    margin-right: 0;
}
.sliderv2 {
    padding-bottom: 50px;
}
.movie-items .slide-it {
    margin-bottom: 30px;
}
.movie-item-style-1 {
    width: auto;
}
.mv-single-hero {
    background-size: cover;
}